<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Doogs!</h1>

	<form action="/puppies">
		<p>
			<label for="newPuppyName">Name of puppy:	
				<input type="text" name="newPuppyName">
			</label>	
		</p>

		<p>
			<label for="age">Age of puppies:
				<input type="text" name="age">
				<input type="submit" value="birthAPuppy">
			</label>
		</p>
	</form>
	
</body>
</html>

